/*Your Code Here*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover, nav a:focus {
border:2px dotted purple;
}
/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/

.skip a{
     position: absolute;
     top: -65px;

}

.skip a:focus{
     position: absolute;
     top: 25px;
}

:focus{
     border: 5px dashed green;
}

.container{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     grid-gap: 13px;
     
}

.container div:first-child{
     background-image: url("../images/header.jpg");
     background-repeat: no-repeat;
     grid-column: 1/-1;
}
.accounts{
     grid-column: 2/ span 3;
     grid-row: 2;
}

.accounts-image{
     grid-column: 1/-1;
     grid-row: 2;
}

.onlinebanking{
     grid-column: 2/span 3;
     grid-row: 3;
}

.onlinebanking-image{
     grid-column: 1/-1;
     grid-row: 3;
}
.security{
     grid-column: 2/span 3;
     grid-row: 4;
}

.security-image{
     grid-column: 1/-1;
     grid-row: 4;
}

.loans{
     grid-column: 2/span 3;
     grid-row: 5;
}

.loans-image{
     grid-column: 1/-1;
     grid-row: 5;
}

.contact{
     grid-column: 2/span 3;
     grid-row: 6;
}

.contact-image{
     grid-column: 1/-1;
     grid-row: 6;
}

.accounts-image img,
.onlinebanking-image img,
.security-image img,
.loans-image img,
.contact-image img{
     max-height: 675px;
     /* overflow: hidden; */
}

div img{
     width: 100%;
     height: 100%;
}

.text-block{
     justify-self: center;
     align-self: start;
     text-align: center;
     margin: auto;
}
.text-block li{
     text-align: left;
}

/*Write selector/rule property to position the default position for the skip class element*/


/*Write selector/rule property to position the skip class element when it is in focus*/

/*Write selector/rule property to style all elements when in focus*/



/*Write selector/rule property to style the container */


/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */


/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/


 /* Step 8: Write the selector/rule property to style the .text-block class. */


/* Add your media query here */


  /* Step 10: Write the selector/rule property to style the nav element */

 
  /* Step 11: Write the selector/rule property to update the .container class */


  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 16:Write the selector/rule property to update the .text-block class */

