/*Your Code Here*/
body{
     font-family: 'Times New Roman', Times, serif;
}
/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover,
nav a:focus {
border:2px dotted purple;
}

/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
     position: absolute;
     top: -65px;

}
/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     position: absolute;
     top: 25px;
}
/*Write selector/rule property to style all elements when in focus*/
:focus{
     border: 5px dashed green;
}
/*Write selector/rule property to style the container */
.container{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-gap: 13px;
     
}
/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container div:first-child{
     background-image: url("../images/header.jpg");
     background-repeat: no-repeat;
     grid-column: 1/-1;
}
/* Steps 6 and 7: Write the selector/rule properties to place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/
.accounts{
     grid-column: 2/ 5;
     grid-row: 2;
}

.accounts-image{
     grid-column: 1/ -1;
     grid-row: 2;
}

.onlinebanking{
     grid-column: 2/ 5;
     grid-row: 3;
}

.onlinebanking-image{
     grid-column: 1/-1;
     grid-row: 3;
}
.security{
     grid-column: 2/ 5;
     grid-row: 4;
}

.security-image{
     grid-column: 1/-1;
     grid-row: 4;
}

.loans{
     grid-column: 2/ 5;
     grid-row: 5;
}

.loans-image{
     grid-column: 1/-1;
     grid-row: 5;
}

.contact{
     grid-column: 2/ 5;
     grid-row: 6;
}

.contact-image{
     grid-column: 1/-1;
     grid-row: 6;
}

.accounts-image img,
.onlinebanking-image img,
.security-image img,
.loans-image img,
.contact-image img{
     max-height: 675px;
     /* overflow: hidden; */
}

div img{
     width: 100%;
     height: 100%;
}
 /* Step 8: Write the selector/rule property to style the .text-block class. */
.text-block{
     justify-self: center;
     align-self: center;
     text-align: center;
}
.text-block li{
     text-align: left;
}

/* Add your media query here */
@media screen and (min-width: 825px){
/* Step 10: Write the selector/rule property to style the nav element */
nav {
     text-align: right;
     padding-top: 35px;
     padding-bottom: 35px;
     padding-left: 0px;
     padding-right: 0px;
     }
/* Step 11: Write the selector/rule property to update the .container class */
.container {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     }
/* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/
.accounts, .security, .contact{
     display: grid;
     grid-column: 4/ 7;
     }
.onlinebanking, .loans{
     display: grid;
     grid-column: 2/ 5;
     }
.accounts-image, .security-image, .contact-image{
     display: grid;
     grid-column: 1/ 6;
     }
.onlinebanking-image, .loans-image{
     display: grid;
     grid-column: 3/ 8;
     }
 /* Step 16:Write the selector/rule property to update the .text-block class */
.text-block{
     max-height: 235px;
     justify-self: center;
     align-self: center;
     text-align: center;
     overflow: auto;
}
}